form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 22.18rem;
    border: 1px solid var(--grey-2);
    font-size: var(--p-body);
    color: var(--grey-4);
    span{
        color: var(--grey-5);
    }
    input{
        background-color: var(--grey-1);
        border: 2px solid var(--grey-1);
        border-radius: 8px;
        height: 52px;
        padding-left: 1rem;
        font-size: var(--title-3);
    }
    select{
        background-color: var(--grey-1);
        border: 2px solid var(--grey-1);
        border-radius: 8px;
        height: 52px;
        padding-left: 1rem;
        font-size: var(--title-3);
    }
    button{
        background-color: var(--color-primary);
        border: 2px solid var(--color-primary);
        border-radius: 8px;
        height: 52px;
        padding-left: 1rem;
        font-size: var(--title-3);
        color: #ffff;
    }
}

@media (max-width:800px) {
    form{
        width: 100%;
        margin: 0.5rem;
    }
}
@media (max-width:500px) {
    form{
        width: 100%;
        margin: 0.5rem;
    }
}